body {
  background: black;
  color: white;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
a:hover {
  color: white;
}
main {
  border: 1px solid white;
  margin: 0 15%;
}
header {
}
/** Top nav bar with address information **/
nav.top-bar {
  text-align: right;
}
nav.top-bar a {
  color: cornflowerblue;
  padding: 0 10px;
}
/**Main Navigation Bar **/
nav.top-nav-menu {
  background: white;
  text-align: right;
  font-size: 2rem;
}
nav.top-nav-menu a {
  color: black;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
nav.top-nav-menu a:hover {
  background: black;
  color: white;
  margin: 0;
  padding: 0;
}
/*** End of Header **/

main {
  background: darkgreen;
  padding: 1rem;
  text-align: justify;
}
    article {
        background: orange;
        padding: 0.5rem;
        border-radius: 0.5rem;
    }
    article .title {
        color: black;
        text-decoration: underline;
        font-size: 150%;
        text-align: right;
    }
    article {
        border-bottom: 3px solid green;
    }
    article .timestamp {
        color:black;
        text-align: right;
    }
    article .excerpt a {
        color:green !important;
        text-transform: uppercase;
    }

footer {
    background:white;
    text-align: center;
    font-size: 2rem;
}
.footer-social {
    /* padding:10px 0; */
}
.footer-social {
    background:black;    
}