.outline {outline:0.1875rem solid black;color:black;}
.border {border:0.1875rem solid black;color:black;}
body {
  /* display: grid; */
}
main#dashboard {
  border: 0.75rem double black;
  box-sizing: border-box;
  padding:0.625rem;
  display: grid;
}
section#greeting {}
  sectiont#calculator {}
  sectiont#clock {}
  sectiont#todo-list {}

.padding {
  padding: 0.625rem;
}
section#greeting .profile-pic {
  width:6.25rem;
}
section#todo-list {
  /* background:black;color:black; */
}
/* Calculator */
section#calculator {
  display: grid;
  grid-template-rows: 1fr 3fr;
}
  #display {
    background:#dfdfdf;
    color:black;font-size:2rem;
    text-align: right;
    border: 1px solid green;
  }
  #buttons {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
    #numbers {
      /* width:33%; */
    }
    #numbers button {
      width:31%;
      height: 25%;
    }
    #operations {
    }
    #operations button {
      width:100%;
    }
    button:hover {
      background: #007034;
      color:white;
      border:3px solid #06ff00;
    }
