body {
  box-sizing: border-box;
}

/* section#flex-calculator * {border:1px solid white;} /*Debugging borders */ */

/* Calulator */
section#flex-calculator {
  display: flex;
  /* flex-direction: column; */
  background:#71c8ff;
}
/* Display */
section#flex-calculator #display {
  background:red;
  padding:0.625rem;
  text-align: right;
  font-size:1.625rem;
}
/* Buttons */
section#flex-calculator #buttons {
  display:flex;
  flex-basis:1;
  background:#ca3bf5;
}
section#flex-calculator #buttons #numbers {
  /* outline:10px solid black; */
  flex-grow:3;

}
#numbers button {
    width:31%;
}
section#flex-calculator #buttons #operations {
  /* outline:10px solid white; */
  flex-grow:1;

}
section#flex-calculator #operations button {
  color:white;
  background:#1c4ee7;
  /* border:1px solid white; */
}
section#flex-calculator #operations button:hover {
  color:#ffffff;
  background:#400505;
  border:1px solid white;
}
button {
  width:100%;
}
